name: "{{ cookiecutter.project_slug|replace('_', '-') }}"

# Configurations shared between api service, celery and celery beat.
x-base-api: &base-api
  env_file:
    - ../api/.env
  volumes:
    - ../api:/opt/api
  build:
    context: ..
    dockerfile: docker/images/api/Dockerfile
    target: local

services:
  api:
    <<: *base-api
    command: ["make", "run"]
    depends_on:
      - postgres-db
      - redis-db
      - mailpit
      - rustfs
      - createbuckets
    ports:
      - ${LOCAL_IP:-127.0.0.1}:${API_LOCAL_PORT:-8000}:8000
  celery-worker:
    <<: *base-api
    command: ["make", "celery-worker-run"]
    depends_on:
      - api
      - redis-db
  celery-beat:
    <<: *base-api
    command: ["make", "celery-beat-run"]
    depends_on:
      - api
      - redis-db
  postgres-db:
    environment:
      POSTGRES_USER: {{ cookiecutter.__db_user }}
      POSTGRES_DB: {{ cookiecutter.__db_name }}
      POSTGRES_PASSWORD: {{ cookiecutter.__db_password }}
    image: postgres:{{ cookiecutter.postgresql_version }}-alpine
    volumes:
      - pg-data:/var/lib/postgresql/data:rw
  redis-db:
    image: redis:{{ cookiecutter.redis_version }}-alpine
    volumes:
      - redis-data:/data:rw
  mailpit:
    image: axllent/mailpit:latest
    ports:
     - ${LOCAL_IP:-127.0.0.1}:${MAILPIT_LOCAL_PORT:-8025}:8025
  rustfs:
    image: rustfs/rustfs:latest
    ports:
     - ${LOCAL_IP:-127.0.0.1}:${RUSTFS_LOCAL_PORT:-9000}:9000
     - ${LOCAL_IP:-127.0.0.1}:${RUSTFS_CONSOLE_LOCAL_PORT:-9001}:9001
    environment:
      RUSTFS_ACCESS_KEY: {{ cookiecutter.__rustfs_access_key }}
      RUSTFS_SECRET_KEY: {{ cookiecutter.__rustfs_secret_key }}
    volumes:
     - rustfs-data:/data
  # RustFS officially supports MinIO Client (mc) for bucket management
  # See: https://docs.rustfs.com/developer/mc.html
  createbuckets:
    image: minio/mc
    depends_on:
      - rustfs
    entrypoint: >
     /bin/sh -c "
     until (/usr/bin/mc alias set myrustfs http://rustfs:9000 {{ cookiecutter.__rustfs_access_key }} {{ cookiecutter.__rustfs_secret_key }}) do echo '...waiting...' && sleep 1; done;
     /usr/bin/mc mb --ignore-existing myrustfs/{{ cookiecutter.__rustfs_bucket_name }};
     /usr/bin/mc anonymous set download myrustfs/{{ cookiecutter.__rustfs_bucket_name }};
     exit 0;
     "
volumes:
  pg-data: {}
  redis-data: {}
  rustfs-data: {}
